 <span class='radioclass'>Options:</span>
  <input type="radio" class="radioclass" value="all" name="radioOption" [(ngModel)]="initialvaluechanged" (change)="radiobuttonclicked()">
  <span>ALL({{All}})</span>
  <input type="radio" class="radioclass" value="male" name="radioOption"  [(ngModel)]="initialvaluechanged" (change)="radiobuttonclicked()">
  <span>Male ({{Male}})</span>
  <input type="radio" class="radioclass" value="female" name="radioOption" [(ngModel)]="initialvaluechanged"  (change)="radiobuttonclicked()">
  <span>Female ({{Female}})</span>